<template>
    <div id="app">
        <input type="file" @input="onFileInput"/>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {read, utils, writeFile} from 'xlsx';

    @Component({
        components: {},
    })
    export default class App extends Vue {

        private async onFileInput(event: any) {
            const file = event.target.files[0];

            const content: any[] = await this.excelToJson(file);

            const wanted = content.find((sheet) => sheet.sheetName === 'Tabelle9');
            const sheets = content.filter((sheet) => sheet.sheetName !== 'Tabelle9');

            const sortedWorkBook = utils.book_new();
            sheets.forEach((sheet) => {
                const sortedSheet = this.sortAndFilterSheet(
                    wanted.content,
                    sheet.content,
                );
                const workSheet = utils.json_to_sheet(sortedSheet);
                utils.book_append_sheet(sortedWorkBook, workSheet, sheet.sheetName);
            });
            writeFile(sortedWorkBook, 'sorted.xlsx');
        }

        private sortAndFilterSheet(wanted: Array<{ BRISE_ID: string }>, sheet: Array<{ File: string }>) {
            const out: any[] = [];

            wanted.forEach((wantedRow) => {
                let sheetRow = sheet.find((row) => row.File === wantedRow.BRISE_ID);
                if (!sheetRow) {
                    sheetRow = {
                        File: wantedRow.BRISE_ID + ': NOT_FOUND_IN_ORIGINAL_FILE',
                    };
                }
                out.push(sheetRow);
            });

            return out;
        }

        private excelToJson(file: File): Promise<any[]> {
            return new Promise((resolve) => {
                const reader = new FileReader();
                reader.onload = (e: any) => {
                    // pre-process data
                    let binary = '';
                    const bytes = new Uint8Array(e.target.result);
                    const length = bytes.byteLength;
                    for (let i = 0; i < length; i++) {
                        binary += String.fromCharCode(bytes[i]);
                    }

                    /* read workbook */
                    const wb = read(binary, {type: 'binary'});

                    const data: any[] = [];
                    wb.SheetNames.forEach((sheetName) => {
                        const ws = wb.Sheets[sheetName];
                        data.push({
                            sheetName,
                            content: utils.sheet_to_json(ws),
                        });
                    });
                    resolve(data);
                };

                reader.readAsArrayBuffer(file as File);
            });
        }
    }
</script>

<style lang="scss">
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
